* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 100%;
}

:root {
  --home-primary-color: #000000;
  --home-secondary-color: #3b3b3b;
  --patrick-primary-color: #002868;
  --patrick-secondary-color: #bf0a30;
  --jules-primary-color: #34baab;
  --jules-secondary-color: #9a5cff;
  --holly-primary-color: #d925ca;
  --holly-secondary-color: #309c3f;
  --michael-primary-color: #5d0d19;
  --michael-secondary-color: #443033;
  --candace-primary-color: #332f32;
  --candace-secondary-color: #ff70d9;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.5;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header {
  background-image: linear-gradient(to top, white, #dbdbdb);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: sticky;
  z-index: 1001;
}

h1, h2, h3, nav ul li {
  font-family: 'Quicksand', sans-serif;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3rem;
}

.p-margin-top {
  margin-top: 1em;
}

ul {
  list-style-type: none;
}

.nav-links {
  display: flex;
}

nav ul li {
  font-size: 1.3rem;
  padding-left: 2em;
  padding-top: 2.3em;
  padding-bottom: .3em;
}

nav ul li:hover {
  cursor: pointer;
  font-weight: bolder;
  transition: .3s;
}

a {
  text-decoration: none;
}

a:hover {
  font-weight:500;
  transition: .2s;
}

/* HOME PAGE STYLING */

.home-h2 {
  color: var(--home-primary-color);
}

.home-p {
  color: var(--home-secondary-color);
  margin-top: 1em;
}

.home-bg-slideshow,
.home-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.home-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: homeImageAnimation 60s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.home-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/home/at-the-beach.jpg) 
}
.home-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/home/fam-opry-mills.jpg);
  animation-delay: 6s; 
}
.home-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/home/fam-sunroom.jpg);
  animation-delay: 12s; 
}
.home-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/home/karate.jpg);
  animation-delay: 18s; 
}
.home-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/home/legoland.JPG);
  animation-delay: 24s; 
}
.home-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/home/merry-christmas.jpg);
  animation-delay: 30s; 
}
.home-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/home/nc-move-2.jpg);
  animation-delay: 36s; 
}
.home-bg-slideshow li:nth-child(8) span { 
  background-image: url(../src/assets/images/home/backyard.jpg);
  animation-delay: 42s; 
}
.home-bg-slideshow li:nth-child(9) span { 
  background-image: url(../src/assets/images/home/recital-2022.jpg);
  animation-delay: 48s; 
}
.home-bg-slideshow li:nth-child(10) span { 
  background-image: url(../src/assets/images/home/first-4.JPG);
  animation-delay: 54s; 
}

.home-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.home-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.home-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.home-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.home-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.home-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}
.home-bg-slideshow li:nth-child(8) div { 
  animation-delay: 42s; 
}
.home-bg-slideshow li:nth-child(9) div { 
  animation-delay: 48s; 
}
.home-bg-slideshow li:nth-child(10) div { 
  animation-delay: 54s; 
}

@keyframes homeImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  10% { opacity: 1 }
  15% { opacity: 0 }
  100% { opacity: 0 }
}

.no-cssanimations .home-bg-slideshow li span{
	opacity: 1;
}

.info-container {
  position: absolute;
  width: 35%;
  height: 90%;
  bottom: 0px;
  left: 0px;
  z-index: 1000;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3em;
}

.info-container::before {
  right: -10px;
  position: absolute;
  z-index: 999;
}

/* PATRICK */

.patrick-h2 {
  color: var(--patrick-primary-color);
}

.patrick-p {
  color: var(--patrick-secondary-color);
  margin-top: 1em;
}

.patrick-bg-slideshow,
.patrick-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.patrick-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: patrickImageAnimation 60s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.patrick-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/patrick/home-depot.jpg) 
}
.patrick-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/patrick/p-j-legoland.JPG);
  animation-delay: 6s; 
}
.patrick-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/patrick/p-playground.JPG);
  animation-delay: 12s; 
}
.patrick-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/patrick/p-sunglasses.JPG);
  animation-delay: 18s; 
}
.patrick-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/patrick/patrick-baby-2.jpg);
  animation-delay: 24s; 
}
.patrick-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/patrick/patrick-books.jpg);
  animation-delay: 30s; 
}
.patrick-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/patrick/patrick-duplos.JPG);
  animation-delay: 36s; 
}
.patrick-bg-slideshow li:nth-child(8) span { 
  background-image: url(../src/assets/images/patrick/patrick-framed.jpg);
  animation-delay: 42s; 
}
.patrick-bg-slideshow li:nth-child(9) span { 
  background-image: url(../src/assets/images/patrick/patrick-ice-cream.jpg);
  animation-delay: 48s; 
}
.patrick-bg-slideshow li:nth-child(10) span { 
  background-image: url(../src/assets/images/patrick/patrick-marble-run.jpg);
  animation-delay: 54s; 
}

.patrick-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.patrick-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.patrick-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.patrick-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.patrick-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.patrick-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}
.patrick-bg-slideshow li:nth-child(8) div { 
  animation-delay: 42s; 
}
.patrick-bg-slideshow li:nth-child(9) div { 
  animation-delay: 48s; 
}
.patrick-bg-slideshow li:nth-child(10) div { 
  animation-delay: 54s; 
}

@keyframes patrickImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  10% { opacity: 1 }
  15% { opacity: 0 }
  100% { opacity: 0 }
}

/* JULES */

.jules-h2 {
  color: var(--jules-primary-color);
}

.jules-p {
  color: var(--jules-secondary-color);
  margin-top: 1em;
}

.jules-bg-slideshow,
.jules-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.jules-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: julesImageAnimation 60s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.jules-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/juliet/baby-jules.JPG) 
}
.jules-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/juliet/cattails.jpg);
  animation-delay: 6s; 
}
.jules-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/juliet/jules-ice-cream.jpg);
  animation-delay: 12s; 
}
.jules-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/juliet/jules-stuffies.jpg);
  animation-delay: 18s; 
}
.jules-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/juliet/kids-hike.jpg);
  animation-delay: 24s; 
}
.jules-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/juliet/kids-leaves.jpg);
  animation-delay: 30s; 
}
.jules-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/juliet/kids-plane.jpg);
  animation-delay: 36s; 
}
.jules-bg-slideshow li:nth-child(8) span { 
  background-image: url(../src/assets/images/juliet/j-outside.jpg);
  animation-delay: 42s; 
}
.jules-bg-slideshow li:nth-child(9) span { 
  background-image: url(../src/assets/images/juliet/p-j-school-lunch.JPG);
  animation-delay: 48s; 
}
.jules-bg-slideshow li:nth-child(10) span { 
  background-image: url(../src/assets/images/juliet/j-cakepop.jpg);
  animation-delay: 54s; 
}

.jules-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.jules-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.jules-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.jules-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.jules-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.jules-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}
.jules-bg-slideshow li:nth-child(8) div { 
  animation-delay: 42s; 
}
.jules-bg-slideshow li:nth-child(9) div { 
  animation-delay: 48s; 
}
.jules-bg-slideshow li:nth-child(9) div { 
  animation-delay: 54s; 
}

@keyframes julesImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  10% { opacity: 1 }
  15% { opacity: 0 }
  100% { opacity: 0 }
}

/* HOLLY */

.holly-h2 {
  color: var(--holly-primary-color);
}

.holly-p {
  color: var(--holly-secondary-color);
  margin-top: 1em;
}

.holly-bg-slideshow,
.holly-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.holly-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: hollyImageAnimation 60s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.holly-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/holly/h-biltmore.jpg) 
}
.holly-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/holly/holls-patrick-field-day.jpg);
  animation-delay: 6s; 
}
.holly-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/holly/holls-starbucks.jpg);
  animation-delay: 12s; 
}
.holly-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/holly/holls-state-fair.jpg);
  animation-delay: 18s; 
}
.holly-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/holly/holls-twin-peaks.jpg);
  animation-delay: 24s; 
}
.holly-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/holly/h-ahh.jpg);
  animation-delay: 30s; 
}
.holly-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/holly/h-glamour.jpg);
  animation-delay: 36s; 
}
.holly-bg-slideshow li:nth-child(8) span { 
  background-image: url(../src/assets/images/holly/holls-birds.jpg);
  animation-delay: 42s; 
}
.holly-bg-slideshow li:nth-child(9) span { 
  background-image: url(../src/assets/images/holly/j-h.jpg);
  animation-delay: 48s; 
}
.holly-bg-slideshow li:nth-child(10) span { 
  background-image: url(../src/assets/images/holly/h-eyebrows.jpg);
  animation-delay: 54s; 
}

.holly-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.holly-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.holly-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.holly-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.holly-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.holly-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}
.holly-bg-slideshow li:nth-child(8) div { 
  animation-delay: 42s; 
}
.holly-bg-slideshow li:nth-child(9) div { 
  animation-delay: 48s; 
}
.holly-bg-slideshow li:nth-child(10) div { 
  animation-delay: 54s; 
}

@keyframes hollyImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  10% { opacity: 1 }
  15% { opacity: 0 }
  100% { opacity: 0 }
}

/* MICHAEL */

.michael-h2 {
  color: var(--michael-primary-color);
}

.michael-p {
  color: var(--michael-secondary-color);
  margin-top: 1em;
}

.michael-bg-slideshow,
.michael-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.michael-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: michaelImageAnimation 60s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.michael-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/michael/h-m-epcot.jpg) 
}
.michael-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/michael/holls-michael-date.jpg);
  animation-delay: 6s; 
}
.michael-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/michael/jules-michael-bed.jpg);
  animation-delay: 12s; 
}
.michael-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/michael/m-h-ds.jpg);
  animation-delay: 18s; 
}
.michael-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/michael/m-h-zoo.jpg);
  animation-delay: 24s; 
}
.michael-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/michael/michael-gorilla.jpg);
  animation-delay: 30s; 
}
.michael-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/michael/wedding.jpg);
  animation-delay: 36s; 
}
.michael-bg-slideshow li:nth-child(8) span { 
  background-image: url(../src/assets/images/michael/h-m-opry.JPG);
  animation-delay: 42s; 
}
.michael-bg-slideshow li:nth-child(9) span { 
  background-image: url(../src/assets/images/michael/p-m-mk.JPG);
  animation-delay: 48s; 
}
.michael-bg-slideshow li:nth-child(10) span { 
  background-image: url(../src/assets/images/michael/m-impact.jpg);
  animation-delay: 54s; 
}

.michael-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.michael-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.michael-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.michael-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.michael-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.michael-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}
.michael-bg-slideshow li:nth-child(8) div { 
  animation-delay: 42s; 
}
.michael-bg-slideshow li:nth-child(9) div { 
  animation-delay: 48s; 
}
.michael-bg-slideshow li:nth-child(10) div { 
  animation-delay: 54s; 
}

@keyframes michaelImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  5% { opacity: 1; animation-timing-function: ease-out; }
  10% { opacity: 1 }
  15% { opacity: 0 }
  100% { opacity: 0 }
}

/* CANDACE */

.candace-h2 {
  color: var(--candace-primary-color);
}

.candace-p {
  color: var(--candace-secondary-color);
  margin-top: 1em;
}

.candace-bg-slideshow,
.candace-bg-slideshow:after { 
    position: fixed;
    width: 70%;
    height: 100%;
    top: 0px;
    right: 0px;
    z-index: 0;
}

.candace-bg-slideshow li span { 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: candaceImageAnimation 42s linear infinite 0s;
  -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));
}

.candace-bg-slideshow li:nth-child(1) span { 
  background-image: url(../src/assets/images/candace/candace-film.jpg) 
}
.candace-bg-slideshow li:nth-child(2) span { 
  background-image: url(../src/assets/images/candace/candace-napping.JPG);
  animation-delay: 6s; 
}
.candace-bg-slideshow li:nth-child(3) span { 
  background-image: url(../src/assets/images/candace/c-blanket.jpg);
  animation-delay: 12s; 
}
.candace-bg-slideshow li:nth-child(4) span { 
  background-image: url(../src/assets/images/candace/c-pillow.jpg);
  animation-delay: 18s; 
}
.candace-bg-slideshow li:nth-child(5) span { 
  background-image: url(../src/assets/images/candace/c-stinky.jpg);
  animation-delay: 24s; 
}
.candace-bg-slideshow li:nth-child(6) span { 
  background-image: url(../src/assets/images/candace/c-yawn.jpg);
  animation-delay: 30s; 
}
.candace-bg-slideshow li:nth-child(7) span { 
  background-image: url(../src/assets/images/candace/candace-study.jpg);
  animation-delay: 36s; 
}

.candace-bg-slideshow li:nth-child(2) div { 
  animation-delay: 6s; 
}
.candace-bg-slideshow li:nth-child(3) div { 
  animation-delay: 12s; 
}
.candace-bg-slideshow li:nth-child(4) div { 
  animation-delay: 18s; 
}
.candace-bg-slideshow li:nth-child(5) div { 
  animation-delay: 24s; 
}
.candace-bg-slideshow li:nth-child(6) div { 
  animation-delay: 30s; 
}
.candace-bg-slideshow li:nth-child(7) div { 
  animation-delay: 36s; 
}

@keyframes candaceImageAnimation { 
  0% { opacity: 0; animation-timing-function: ease-in; }
  7.14% { opacity: 1; animation-timing-function: ease-out; }
  14.28% { opacity: 1 }
  21.42% { opacity: 0 }
  100% { opacity: 0 }
}

/* MEDIA QUERY <575PX */
@media screen and (max-width: 575px) {
  header {
    display: flex;
    flex-wrap: wrap;
    z-index: 1001;
  }

  .nav-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1.5em 1.2em .3em 1.2em;
  }
  
  nav ul li {
    font-size: 1.3rem;
    padding: 0em .3em 0em .3em;
  }

  h2 {
    font-size: 2rem;
  }

  .info-container {
    position: absolute;
    width: 100%;
    height: 60%;
    top: 30%;
    left: 0px;
    z-index: 1000;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 2em;
    padding-right: 2em;
  }

  .home-bg-slideshow li span,
  .patrick-bg-slideshow li span,
  .jules-bg-slideshow li span,
  .holly-bg-slideshow li span,
  .michael-bg-slideshow li span,
  .candace-bg-slideshow li span { 
    width: 150vw;
    height: 100vh;
    -webkit-mask-image: -webkit-gradient(linear, right top, 
    left top, from(rgba(0,0,0,1)), to(rgba(0,0,0,1)));
  }

  @keyframes homeImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: .5; animation-timing-function: ease-out; }
    10% { opacity: .5 }
    15% { opacity: 0 }
    100% { opacity: 0 }
  }

  @keyframes patrickImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: .5; animation-timing-function: ease-out; }
    10% { opacity: .5 }
    15% { opacity: 0 }
    100% { opacity: 0 }
  }

  @keyframes julesImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: .5; animation-timing-function: ease-out; }
    10% { opacity: .5 }
    15% { opacity: 0 }
    100% { opacity: 0 }
  }

  @keyframes hollyImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: .5; animation-timing-function: ease-out; }
    10% { opacity: .5 }
    15% { opacity: 0 }
    100% { opacity: 0 }
  }

  @keyframes michaelImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    5% { opacity: .5; animation-timing-function: ease-out; }
    10% { opacity: .5 }
    15% { opacity: 0 }
    100% { opacity: 0 }
  }

  @keyframes candaceImageAnimation { 
    0% { opacity: 0; animation-timing-function: ease-in; }
    7.14% { opacity: .5; animation-timing-function: ease-out; }
    14.28% { opacity: .5 }
    21.42% { opacity: 0 }
    100% { opacity: 0 }
  }
}